#navbar{
    margin-top: 22px;
    height: 140px;
    background-image: url("/public/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
  }
  
  .navbar-logo {
    margin-left: 22px;
    margin-top: -15px;
  }
  
  .navbar button{
    background-color: black;
    border: 1px solid black;
    border-radius: 8px;
    padding: 9px;
    margin-right: 100px;
    width: fit-content;
  }

  .navbar button:hover{
    cursor: pointer;
    background-color: rgb(56, 56, 56);
  }

  .navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px; 
  }
  
  .img{
    float: left;
    height: 100px;
    width: 100px;
    margin-left: 27px;
    margin-top: 8px;
  }
  
  .navbar h5{
    font-size: 19px;
    color: white;
    margin-top: 30px;
    margin-left: 150px;
    margin-bottom: 25px;
  }

  .p{
    color: white;
    font-size: 15px;
    margin-left: 150px;
    margin-top: -20px;
  }

  .linkedin{
    color: white;
  }